<xml>
    <workshop-settings>

        <!-- Required: The name of the workshop -->
        <name>
            Route_Hijacking
        </name>

        <!-- Required: The name of the appliance to be imported -->
        <appliance>
            2017_08_10RouteHijacking.ova
        </appliance>

        <vm>
            <!-- Required: The name of the vm that will be cloned -->
            <name>
                kali-2016.2-debian_ecel_rh
            </name>

            <!-- Internal network elements should have different names
                 i.e. intnet0 intnet1 -->
            <intnet0>
                test
            </intnet0>
        </vm>

        <vm>
            <name>
                ubuntu-core4.7
            </name>
            <intnet0>
                test
            </intnet0>
        </vm>

    </workshop-settings>
</xml>
