{% extends "base.html" %}

{% block body %}
        <main class="main-content bgc-grey-100">
          <div id="mainContent">
            <div class="full-container">
              <div class="row">
                <div class="col-md-6">
                  <div class="bgc-white bd bdrs-3 p-20 mB-20">

                    <h6 class="c-grey-900">Add a Server</h6>
                    <div class="mT-30">
                      <form action="" method="post">
                        {{ form.hidden_tag() }}
                        <div class="form-group row">
                          {{ form.address.label(class_="col-sm-2 col-form-label") }}
                          <div class="col-sm-10">
                            {{ form.address(class_="form-control", size=32) }}
                            {% for error in form.address.errors %}
                            <span class="error-msg">{{ error }}</span>
                            {% endfor %}
                          </div>
                        </div>
                        <div class="form-group row">
                          {{ form.port.label(class_="col-sm-2 col-form-label") }}
                          <div class="col-sm-10">
                            {{ form.port(class_="form-control", size=32) }}
                            {% for error in form.port.errors %}
                            <span class="error-msg">{{ error }}</span>
                            {% endfor %}
                          </div>
                        </div>
                        <div class="form-group row">
                          <div class="col-sm-10">
                            {{ form.submit(class_="btn btn-primary")}}
                          </div>
                        </div>
                      </form>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>
{% endblock %}
