<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <title>Blank</title>
    <style>#loader{transition:all .3s ease-in-out;opacity:1;visibility:visible;position:fixed;height:100vh;width:100%;background:#fff;z-index:90000}#loader.fadeOut{opacity:0;visibility:hidden}.spinner{width:40px;height:40px;position:absolute;top:calc(50% - 20px);left:calc(50% - 20px);background-color:#333;border-radius:100%;-webkit-animation:sk-scaleout 1s infinite ease-in-out;animation:sk-scaleout 1s infinite ease-in-out}@-webkit-keyframes sk-scaleout{0%{-webkit-transform:scale(0)}100%{-webkit-transform:scale(1);opacity:0}}@keyframes sk-scaleout{0%{-webkit-transform:scale(0);transform:scale(0)}100%{-webkit-transform:scale(1);transform:scale(1);opacity:0}}</style>
  <link href="static\style.css" rel="stylesheet"></head>
  <body class="app">
    
    
    

    
    
    <div id="loader">
      <div class="spinner"></div>
    </div>

    <script>
      window.addEventListener('load', () => {
        const loader = document.getElementById('loader');
        setTimeout(() => {
          loader.classList.add('fadeOut');
        }, 300);
      });
    </script>

    
    
    <div>
      
      <div class="sidebar">
        <div class="sidebar-inner">
          
          <div class="sidebar-logo">
            <div class="peers ai-c fxw-nw">
              <div class="peer peer-greed">
                <a class="sidebar-link td-n" href="index.html">
                  <div class="peers ai-c fxw-nw">
                    <div class="peer">
                      <div class="logo">
                        <img src="assets/static/images/logo.png" alt="">
                      </div>
                    </div>
                    <div class="peer peer-greed">
                      <h5 class="lh-1 mB-0 logo-text">REmuBox</h5>
                    </div>
                  </div>
                </a>
              </div>
              <div class="peer">
                <div class="mobile-toggle sidebar-toggle">
                  <a href="" class="td-n">
                    <i class="ti-arrow-circle-left"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>

          
          <ul class="sidebar-menu scrollable pos-r">
            <li class="nav-item mT-30 active">
              <a class="sidebar-link" href="index.html">
                <span class="icon-holder">
                  <i class="c-blue-500 ti-home"></i>
                </span>
                <span class="title">Dashboard</span>
              </a>
            </li>

            <li class="nav-item dropdown">
              <a class="dropdown-toggle" href="javascript:void(0);">
                <span class="icon-holder">
                    <i class="c-red-500 ti-files"></i>
                  </span>
                <span class="title">Pages</span>
                <span class="arrow">
                    <i class="ti-angle-right"></i>
                  </span>
              </a>
              <ul class="dropdown-menu">                                
                <li>
                  <a class="sidebar-link" href="blank.html">Blank</a>
                </li>
                <li>
                  <a class="sidebar-link" href="404.html">404</a>
                </li>
                <li>
                  <a class="sidebar-link" href="500.html">500</a>
                </li>
                <li>
                  <a class="sidebar-link" href="signin.html">Sign In</a>
                </li>
                <li>
                  <a class="sidebar-link" href="signup.html">Sign Up</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>

      
      <div class="page-container">
        
        <div class="header navbar">
          <div class="header-container">
            <ul class="nav-right">
              <li>
                <a href="" class="d-b td-n bgcH-grey-100 c-grey-700">
                  <i class="ti-power-off mR-10"></i>
                  <span>Logout</span>
                </a>
              </li>
            </ul>
          </div>
        </div>

        
        <main class="main-content bgc-grey-100">
          <div id="mainContent">
            <div class="full-container">
              <div class="row">
                <div class="col-md-6">
                  <div class="bgc-white bd bdrs-3 p-20 mB-20">

                    <h6 class="c-grey-900">Add a Workshop</h6>
                    <div class="mT-30">
                      <form id="needs-validation" novalidate>
                        <div class="form-group row">
                          <label for="name" class="col-sm-2 col-form-label">Name</label>
                          <div class="col-sm-10">
                            <input type="text" class="form-control" id="name" placeholder="127.0.0.1" required>
                            <div class="invalid-feedback">
                              Please provide a valid name for the workshop.
                            </div>
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for="description" class="col-sm-2 col-form-label">Description</label>
                          <div class="col-sm-10">
                            <textarea class="form-control" id="description" rows="3" required></textarea>
                            <div class="invalid-feedback">
                              Please provide a valid description.
                            </div>
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for="min" class="col-sm-2 col-form-label">Min Instances</label>
                          <div class="col-sm-4">
                            <input type="text" class="form-control" id="min" required>
                            <div class="invalid-feedback">
                              Please provide a valid number of minimum instances.
                            </div>
                          </div>
                          <label for="max" class="col-sm-2 col-form-label">Max Instances</label>
                          <div class="col-sm-4">
                            <input type="text" class="form-control" id="max" required>
                            <div class="invalid-feedback">
                              Please provide a valid number of maximum instances.
                            </div>
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-sm-2 col-form-label">Walkthrough</label>
                          <div class="col-sm-10">
                            <div class="custom-file">
                              <input type="file" class="custom-file-input" id="walklthrough" required>
                              <label class="custom-file-label" for="walkthrough">Choose file</label>
                              <div class="invalid-feedback">
                                Please provide a valid file path to the walkthrough document.
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="form-group row">
                          <div class="col-sm-10">
                            <button type="submit" class="btn btn-primary">Submit</button>
                          </div>
                        </div>
                      </form>
                    </div>
                    <script>!function(){"use strict";window.addEventListener("load",function(){var e=document.getElementById("needs-validation");e.addEventListener("submit",function(t){!1===e.checkValidity()&&(t.preventDefault(),t.stopPropagation()),e.classList.add("was-validated")},!1)},!1)}()</script>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>

        
        <footer class="bdT ta-c p-30 lh-0 fsz-sm c-grey-600">
          <span>Copyright © 2017 Designed by <a href="https://colorlib.com" target="_blank" title="Colorlib">Colorlib</a>. All rights reserved.</span>
        </footer>
      </div>
    </div>
  <script type="text/javascript" src="static\vendor.js"></script><script type="text/javascript" src="static\bundle.js"></script></body>
</html>
