{% extends "base.html" %}

{% block body %}        

      <div class="bgc-white bd bdrs-3 p-20 mB-20">
        <div class="row">
          <div class="col-sm-6">
            <h4 class="c-grey-900 mB-10">Session Counts per Workshop</h4>
          </div>
        </div>
        {% for entry in counts.items()|batch(2, (' ', ' ')) %}
        <div class="row">
          {% for name, count in entry %}
          <div class="col-sm-2">{{ name|replace('_',' ') }}</div>
          <div class="col-sm-2">{{ count }}</div>
          {% endfor %}
        </div>
        {% endfor %}
      </div>

      {% for server in server_data %}
      <div class="bgc-white bd bdrs-3 p-20 mB-20">
        <div class="row">
          <div class="col-sm-6">
            <table class="table">
              <tr>
                <td class="nb w-30">
                  <small class="fw-600 c-grey-700">SERVER</small>
                  <h4 class="c-grey-900 mB-0">{{ server.ip }}</h4>
                </td>
                <td class="nb w-30">
                  <small class="fw-600 c-grey-700">PORT</small>
                  <h4 class="c-grey-900 mB-0">{{ server.port }}</h4>
                </td>
                <td class="nb w-30">&nbsp;</td>
              </tr>
            </table>                        
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <div class="peers bdT p-20 fxw-nw@lg+ jc-sb ta-c gap-10">
              <div class="peer">
                <div class="easy-pie-chart" data-size="80" data-percent="{{ server.cpu }}" data-bar-color="#2196f3">
                  <span></span>
                </div>
                <h6 class="fsz-sm">Overall CPU</h6>
              </div>
              <div class="peer">
                <div class="easy-pie-chart" data-size="80" data-percent="{{ server.mem }}" data-bar-color="#2196f3">
                  <span></span>
                </div>
                <h6 class="fsz-sm">Virtual Memory</h6>
              </div>
              <div class="peer">
                <div class="easy-pie-chart" data-size="80" data-percent="{{ server.hdd }}" data-bar-color="#2196f3">
                  <span></span>
                </div>
                <h6 class="fsz-sm">Physical Memory</h6>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <div class="mB-20" style="line-height:0; cursor:pointer;" data-toggle="collapse" data-target="#demo">
              <h4 class="c-grey-900 mB-0">Sessions</h4>
              <small>COLLAPSE/EXPAND</small>
            </div>
            <table id="demo" class="table collapse show">
              <thead>
                <tr>
                  <th scope="col">Session ID</th>
                  <th scope="col">Workshop</th>
                  <th scope="col">Active Time</th>
                  <th scope="col">Machines</th>
                  <th scope="col">VRDE Port</th>
                  <th scope="col">Status</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>

                {% for id, session in server['sessions'].items() %}
                <tr>
                  <td>{{ id }}</td>
                  <td>{{ session['workshop'] }}</td>
                  <td>{{ session['time'] }}</td>
                  <td>
                  {% for machine in session['machines'] %}
                  {{ machine['name'] }}<br>
                  {% endfor %}
                  </td>
                  <td>
                  {% for machine in session['machines'] %}
                  {{ machine['port'] }}<br>
                  {% endfor %}
                  </td>
                  <td>
                  {% if session['available'] %}
                    <span class="badge bgc-blue-50 c-blue-700 p-10 lh-0 tt-c badge-pill">Ready</span>
                  {% else %}
                    <span class="badge bgc-green-50 c-green-700 p-10 lh-0 tt-c badge-pill">Running</span>
                  {% endif %}
                  </td>
                  <td>
                    <a href="{{ url_for('.kill_session', sid=id) }}" alt="Remove">
                      <button class="download action"><i class="fa fa-remove"></i></button>
                    </a>
                  </td>
                </tr>
                {% endfor %}

              </tbody>
            </table>
          </div>
        </div>
      </div>
      {% endfor %}

{% endblock %}