<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <title>REmuBox</title>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <style>
      table {
        width: 100%;
      }
      th {
        padding-left: 1rem;
      }
      td {
        width: 25%;
        padding: 1rem;
        border: 1px solid #555;
      }
      .download {
        font-size: 1.25rem;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        padding: 5px 10px;
        cursor: pointer;
      }
      .download:hover {
        color: #2196f3;
      }
      .center {
        margin: 0 auto;
      }
    </style>
  </head>
  <body>

    <section class="container">
      <div class="row" style="margin-bottom: 2rem">
        <h1 class="center">REmuBox</h1>
      </div>
      <div class="row" class="alert alert-danger" role="alert" style="margin-bottom: 2rem">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
         {% endif %}
      {% endwith %}
      </div>
    </section>

    <section class="container">
      <div class="row">
        {% if sid is none %}
        <table class="center">
          <tr>
            <th>Workshop Name</th>
            <th>Description</th>
            <th>Supporting Materials</th>
            <th>Download</th>
          </tr>
          {% for workshop in workshops %}
          <tr>
            <td>{{ workshop.display }}</td>
            <td>{{ workshop.description }}</td>
            <td>
              {% if workshop.materials is none %}
              No Supporting material at this time.
              {% else %}
              {% for doc in workshop.materials %}
              <a href="/materials/{{ workshop.name }}/{{ doc }}">{{ doc }}</a><br>
              {% endfor %}
              {% endif %}
            </td>
            <td>
              <div id="{{ workshop.name }}_links">
                <a href="/checkout/windows/{{ workshop.name }}" download>
                  <button class="download"><i class="fa fa-windows"></i></button>
                </a>
                <a href="/checkout/linux/{{ workshop.name }}" download>
                  <button class="download"><i class="fa fa-linux"></i></button>
                </a>
              </div>
              <div id="{{ workshop.name }}_none" style="display:none">
                <p>No workshops available!</p>
              </div>
            </td>
          </tr>
          {% endfor %}
        </table>
        {% else %}
        <p class="center">Are you trying to reconnect to your workshop?</p>
        <br>
        <a class="center" href="/reconnect" download>
          <button class="download">Reconnect</button>
        </a>
        <br>
        <p class="center">Otherwise, you'll be able to start a new workshop shortly.</p>
        {% endif %}
      </div>
    </section>

    <script type="text/javascript" src="{{ url_for('static', filename='socket.io.js') }}"></script>
    <script>
      var socket = io.connect("http://" + window.location.hostname );

      socket.on('connect', function() {
        socket.emit('connected');
      });

      socket.on('counts', function(data) {
        Object.keys(data).forEach(function(key) {
          console.log(key + " " + data[key]);
          {% for workshop in workshops %}
          if (data["{{ workshop.name }}"] == 0) {
            document.getElementById("{{ workshop.name }}_links").style.display = "none";
            document.getElementById("{{ workshop.name }}_none").style.display = "block";
          }
          else {
            document.getElementById("{{ workshop.name }}_links").style.display = "block";
            document.getElementById("{{ workshop.name }}_none").style.display = "none";
          }
          {% endfor %}
        });
      });
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='vendor.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='bundle.js') }}"></script>
  </body>
</html>
