{% extends "base.html" %}

{% block body %}        
<main class="main-content bgc-grey-100">
  <div id="mainContent">
    <div class="full-container">
      <div class="bgc-white bd bdrs-3 p-20 mB-20">
        <div class="row">
          <div class="col-sm-6">
            <h4 class="c-grey-900 mB-10">Manage Servers</h4>
            <a href="{{ url_for('.add_server') }}">
              <button class="btn btn-primary">
                Add a Server
              </button>
            </a>
            <table class="table mT-10">
              <tr>
                <th>Address</th>
                <th>Port</th>
                <th>Actions</th>
              </tr>
              {% for server in server_data %}
              <tr>
                <td>{{ server.ip }}</td>
                <td>{{ server.port }}</td>
                <td>
                  <a href="{{ url_for('.edit_server', address=server.ip) }}" alt="Edit">
                    <button class="download action"><i class="fa fa-pencil"></i></button>
                  </a>
                  <a href="{{ url_for('.remove_server', address=server.ip) }}" alt="Edit">
                    <button class="download action"><i class="fa fa-remove"></i></button>
                  </a>
                </td>
              </tr>
              {% endfor %}
            </table>                        
          </div>
        </div>
    </div>
  </div>
</main>
{% endblock %}