{% extends "base.html" %}

{% block body %}        
<main class="main-content bgc-grey-100">
  <div id="mainContent">
    <div class="full-container">
      <div class="bgc-white bd bdrs-3 p-20 mB-20">
        <div class="row">
          <div class="col-sm-6">
            <h4 class="c-grey-900 mB-10">Manage Workshops</h4>
            <a href="{{ url_for('.add_workshop') }}">
              <button class="btn btn-primary">
                Add a New Workshop
              </button>
            </a>
            <table class="table mT-10">
              <tr>
                <th>Name</th>
                <th>Min</th>
                <th>Max</th>
                <th>Status</th>
                <th>Actions</th>
              </tr>
              {% for workshop in data %}
              <tr>
                <td>{{ workshop.name }}</td>
                <td>{{ workshop.min_instances }}</td>
                <td>{{ workshop.max_instances }}</td>
                <td>
                  {% if workshop.enabled %}
                    <span class="badge bgc-green-50 c-green-700 p-10 lh-0 tt-c badge-pill">Enabled</span>
                  {% else %}
                    <span class="badge bgc-red-50 c-red-700 p-10 lh-0 tt-c badge-pill">Disabled</span>
                  {% endif %}
                </td>
                <td>
                  <a href="{{ url_for('.edit_workshop', oid=workshop._id) }}" alt="Edit">
                    <button class="download action"><i class="fa fa-pencil"></i></button>
                  </a>
                  <a href="{{ url_for('.remove_workshop', oid=workshop._id) }}" alt="Remove">
                    <button class="download action"><i class="fa fa-remove"></i></button>
                  </a>
                </td>
              </tr>
              {% endfor %}
            </table>                        
          </div>
        </div>
    </div>
  </div>
</main>
{% endblock %}
